  /* Informationr */
  .AddUser{
    width        : 100%;
    height       : auto;
    border-radius:20px;
    border       : 2px solid red;
    box-shadow   : 9px 20px 20px 0px rgb(248, 137, 137);
  }
  .Informationr__text{
    margin     : 0px auto 0px auto;
    text-align : center;
  }
  .Informationr__input{
    margin   : 15px auto 0px auto;
    width    : 400px;
    display  : flex;
    flex-wrap: wrap;
  }

  .AddUser__Informationr--btn{
    padding         : 10px 30px;
    border-radius   : 8px;
    border          : 0px solid;
    background-color: #ff0000;
    color           : white;
    font-weight     : bold;
    height          : 48px;
    width           : 200px;
    margin-top      : 50px;
    margin-right    : 700px;  
  }
  .AddUser__Informationr--btn:hover{
    background-color: rgb(240, 163, 49);
  }
